@model Core.UserDetails.Get_UserDetails
@{
    ViewData["Title"] = "UpdateUserDetails";
}

<div class="main-content app-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div style="height:10px;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <form class="form-sample" asp-action="UpdateUserDetails" asp-controller="UserDetails" method="post">
                    <div class="card custom-card">
                        <div class="card-header justify-content-between">
                            <div class="card-title">
                                Completing the registration form
                            </div>
                            <div class="alert alert-success" role="alert" style="display: @ViewBag.none">
                                <a class="alert-link">
                                </a>.
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 input-group-sm mb-3">
                                    <label for="validationCustom01" class="form-label">Real Name</label><span style="color:red">*</span>
                                    <input onblur="return user()" class="form-control" id="textusername" asp-for="users.Str_Real_Name" name="Str_Real_Name" type="text" placeholder="User Name" , onkeypress="return LettersOnly(this.value)" />
                                    <span style="color:red" id="spn_user"></span>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 input-group-sm mb-3">
                                    <label for="input-label" class="form-label">Pseudo Name</label><span style="color:red">*</span>
                                    <input onblur="return pseudo();" class="form-control" asp-for="users.Str_Pseudo_Name" name="Str_Pseudo_Name" type="text" id="textpseudoname" placeholder="Pseudo name" />
                                    <span style="color:red" id="spn_pseudo"></span>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 input-group-sm mb-3">
                                    <label for="input-label" class="form-label">Employee ID</label><span style="color:red">*</span>
                                    <input onblur="return emp_id();" onchange="return searchempid();" class="form-control" asp-for="users.Str_Emp_ID" name="Str_Emp_ID" type="text" id="textempid" placeholder="Employee ID" />
                                    <span style="color:red" id="spn_emp_id"></span>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 input-group-sm mb-3">
                                    <label for="input-label" class="form-label">Login ID</label><span style="color:red">*</span>
                                    <input onblur="return login_id();" class="form-control" asp-for="users.Str_Login_ID" name="Str_Login_ID" type="text" id="textloginid" placeholder="Login ID" />
                                    <span style="color:red" id="spn_Loginid"></span>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 input-group-sm mb-3">
                                    <label for="input-label" class="form-label">Password</label><span style="color:red">*</span>
                                    <input onblur="return password();" class="form-control" asp-for="users.Str_Password" name="Str_Password" type="text" id="textpassword" placeholder="Password" />
                                    <span style="color:red" id="spn_password"></span>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 input-group-sm mb-3">
                                    <label for="input-label" class="form-label">Designation</label><span style="color:red">*</span>
                                    @Html.DropDownListFor(o => o.users.Str_Designation, new SelectList(ViewBag.designation, "Int_Id", "Str_Designation"), new { @class = "form-control", @id = "textdesignation", @onblur = "return designation();" })
                                    <span style="color:red" id="spn_designation"></span>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 input-group-sm mb-3">
                                    <label for="input-label" class="form-label">Email ID</label>
                                    <input class="form-control" asp-for="users.Str_Email_ID" name="Str_Email_ID" type="text" id="textemailid" placeholder="Email ID" />
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 input-group-sm mb-3">
                                    <label for="input-label" class="form-label">Mobile Number</label>
                                    <input class="form-control" asp-for="users.Str_Mobile_Num" name="Str_Mobile_Num" type="text" id="textmobilenumber" placeholder="Mobile Number" />
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 input-group-sm mb-3">
                                    <label for="input-label" class="form-label">Department</label><span style="color:red">*</span>
                                    @Html.DropDownListFor(o => o.users.Str_Role_ID, new SelectList(ViewBag.department, "Int_Id", "Str_Department"), new { @class = "form-control", @id = "textdepartment", @onblur = "return department();" })
                                    <span style="color:red" id="spn_department"></span>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 input-group-sm mb-3">
                                    <label for="input-label" class="form-label">Access Level</label>
                                    @Html.DropDownListFor(o => o.users.Str_Access_Level, new SelectList(ViewBag.accesslevel, "Int_Id", "Str_Access_Level"), new { @class = "form-control", @id = "textaccesslevel" })
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 input-group-sm mb-3">
                                    <label for="input-label" class="form-label">Manager ID</label>
                                    <input class="form-control" asp-for="users.Str_Mng_Emp_ID" name="Str_Mng_Emp_ID" type="text" id="textmanagerid" placeholder="Manager Employee ID" />
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 input-group-sm mb-3">
                                    <label for="input-label" class="form-label">Team LeaderID</label>
                                    <input class="form-control" asp-for="users.Str_TL_Emp_ID" name="Str_TL_Emp_ID" type="text" id="textmanagerid" placeholder="Manager Employee ID" />
                                </div>
                                <div class="btn-list">
                                    <label for="input-label" class="form-label"></label>
                                    <button type="submit" onclick="return validation();" class="btn btn-primary btn-wave waves-effect waves-light">UPDATE USER</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@* <div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 sm">
                            <h4 class="card-title">User Registration Form</h4>
                        </div>
                        <div class="col-md-8 sm" style="display:@ViewBag.none">
                            <div class="alert alert-danger" role="alert">
                                @ViewBag.message
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> *@

@* <div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">

                    <form class="form-sample" asp-action="UpdateUserDetails" asp-controller="UserDetails" />
                    <div class="row">
                        <div class="col-md-4 sm">
                            <h4 class="card-title">User Registration Form</h4>
                        </div>
                        <div class="col-md-8 sm" style="display:@ViewBag.none">
                            <div class="alert alert-success" role="alert">
                                @ViewBag.message
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 sm">
                            <div class="form-group">
                                <label for="exampleInputName1">Real Name<span style="color:red">*</span></label>
                                <div class="col-md-12">
                                    <input onblur="user()" class="form-control" id="textusername" asp-for="users.Str_Real_Name" name="users.Str_Real_Name" type="text" placeholder="User Name" , onkeypress="return LettersOnly(this.value)" />
                                    <br />
                                    <span style="color:red" id="spn_user"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputName2">Pseudo_Name<span style="color:red">*</span></label>
                                <div class="col-sm-12">
                                    <input onblur="return pseudo();" class="form-control" asp-for="users.Str_Pseudo_Name" name="users.Str_Pseudo_Name" type="text" id="textpseudoname" placeholder="Pseudo name" />
                                    <br />
                                    <span style="color:red" id="spn_pseudo"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputName3">Employee ID<span style="color:red">*</span></label>
                                <div class="col-sm-12">
                                    <input onblur="return emp_id();" onchange="return searchempid();" class="form-control" asp-for="users.Str_Emp_ID" name="users.Str_Emp_ID" type="text" id="textempid" placeholder="Employee ID" />
                                    <br />
                                    <span style="color:red" id="spn_emp_id"></span>
                              
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputName3">Login ID<span style="color:red">*</span></label>
                                <div class="col-sm-12">
                                    <input onblur="return login_id();" class="form-control" asp-for="users.Str_Login_ID" name="users.Str_Login_ID" type="text" id="textloginid" placeholder="Login ID" />
                                    <br />
                                    <span style="color:red" id="spn_Loginid"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputName3">Password<span style="color:red">*</span></label>
                                <div class="col-sm-12">
                                    <input onblur="return password();" class="form-control" asp-for="users.Str_Password" name="users.Str_Password" type="text" id="textpassword" placeholder="Password" />
                                    <br />
                                    <span style="color:red" id="spn_password"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputName4">Designation<span style="color:red">*</span></label>
                                <div class="col-sm-12">
                                    @Html.DropDownListFor(o => o.users.Str_Role_ID, new SelectList(ViewBag.designation, "Int_Id", "Str_Designation"), new { @class = "form-control", @id = "textdesignation", @onblur = "return designation();" })
                                    <br />
                                    <span style="color:red" id="spn_designation"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputName5">Email ID</label>
                                <div class="col-sm-12">
                                    <input class="form-control" asp-for="users.Str_Email_ID" name="users.Str_Email_ID" type="text" id="textemailid" placeholder="Email ID" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputName6">Mobile Number</label>
                                <div class="col-sm-12">
                                    <input class="form-control" asp-for="users.Str_Mobile_Num" name="Str_Mobile_Num" type="text" id="textmobilenumber" placeholder="Mobile Number" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputName7">Department Name<span style="color:red">*</span></label>
                                <div class="col-sm-12">
                                    @Html.DropDownListFor(o => o.users.Str_Dept_ID, new SelectList(ViewBag.department, "Int_Id", "Str_Department"), new { @class = "form-control", @id = "textdepartment", @onblur = "return department();" })
                                    <br />
                                    <span style="color:red" id="spn_department"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputName8">Access Level</label>
                                <div class="col-sm-12">
                                    @Html.DropDownListFor(o => o.users.Str_Access_Level, new SelectList(ViewBag.accesslevel, "Int_Id", "Str_Access_Level"), new { @class = "form-control", @id = "textaccesslevel" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputName9">Manager Employee ID</label>
                                <div class="col-sm-12">
                                    <input class="form-control" asp-for="users.Str_Mng_Emp_ID" name="users.Str_Mng_Emp_ID" type="text" id="textmanagerid" placeholder="Manager Employee ID" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputName10">Teamleader Employee ID</label>
                                <div class="col-sm-12">
                                    <input class="form-control" asp-for="users.Str_TL_Emp_ID" name="users.Str_TL_Emp_ID" type="text" id="textteamleaderid" placeholder="TeamLeader ID" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="exampleInputName10"></label>
                            <div class="col-sm-12">
                            
                                    <input type="hidden" asp-for="users.Str_OldEmp_ID" id="Str_OldEmp_ID"  />
                                    <input type="hidden" asp-for="users.Int_Is_Active" id="Str_is_active" />
                                    <input type="hidden" asp-for="users.Int_This_Status" id="int_this_status" />
                                <button type="submit" onclick="return validation();" class="btn" style="background-color:#ff8300;color:#fff">ADD USER</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-12">
                           
                            </div>
                        </div>
                    </div>
                    <form />
                </div>
            </div>
        </div>
    </div>
</div> *@



<script src="~/assets/js/jquery.min.js"></script>


 <script type="text/javascript">

    function searchempid(){
        var jsdata = $("#textempid").val();
      
        var data = {
            Str_Emp_ID: jsdata
        }
        $.ajax({
            type: "POST",
            url: "/UserDetails/searchempid",
            contentType: "application/x-www-form-urlencoded;charset=UTF-8",
            dataType: "json",
            data: data,
            responseType: "json",
            success: function (data) {
                $("#divProgressBar2").hide();
                if (data !="") {
                    $("#spn_emp_id").html("this Employee ID is already exist !!");
                    return false;
                }
                else {
                    $("#spn_emp_id").html("");
                    return true;
                }
            },
            error: function (data) { $("#divProgressBar2").hide(); }
        });

    }

 </script>